<link rel='stylesheet' href='/stylesheets/style.css' />

<a href="/">Go back</a>

<form action="/new" method="POST">
    <li>
        <label for="name">Your name</label>
        <input type="text" name="name">    
    </li>
    <li>
        <label for="message">Message</label>
        <input type="text" name="message">    
    </li>
    <button type="submit">Submit</button>    
</form>